#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.section {
  display: flex;
  column-gap: 4rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 1rem;
  background: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #5e5e5e;
}